.page1{
    width: 800px;
    height: 800px;
    background-color: aquamarine;
}

.page2{
    width: 800px;
    height: 800px;
    background-color: yellow;
}

.page3{
    width: 800px;
    height: 800px;
    background-color: beige;
}

.button1{
    background: rgb(59, 59, 206);
}

.button2{
    background: rgb(59, 59, 206);
}

.button1_validated{
    background: rgb(236, 50, 50);
}