@media (max-width: 620px) {

    #basic-page{
        
        .content{
            
            #form-basic-page{

                .user-info-container{
        
                    .horizontal-inputs{
                        flex-direction: column;
                    }
        
                    i, .exception-email, .exception-phone{
                        left: 92%;
                    }
                }
            }

            .user-birthday-container{
                
                .date-birthday{
                    row-gap: 12px;
                }
            }
        }


    }
}

@media (max-width: 530px) {

    #basic-page{
        
        .content{
            
            header{

                ul{
                    
                    li{
                        font-size: 1.2rem;
                    }
                }
            }

            #form-basic-page{

                .user-info-container{
        
                    i, .exception-email, .exception-phone{
                        left: 88%;
                    }
                }
            }

            .user-birthday-container{
                
                .date-birthday{
                    row-gap: 12px;
                }
            }
        }


    }
}

