@import '../../../abstract/global';

.page{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;


    .content{
        // background-color: rgb(164, 206, 255);
        max-width: 620px;
        height: 790px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 35px;
        padding: 45px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 20px;

        header{
            width: 100%;
            
            .title{
                font-family: $title-font;
                font-size: 1.8rem;
                font-weight: 600;
                margin-bottom: 33px;
            }

            ul{
                display: flex;
                width: 100%;
                justify-content: center;
                padding-left: unset;

                li{
                    font-size: 1.6rem;
                    line-height: 18px;
                    font-weight: 400;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 44px;
                    color: $primary-color;
                    border-bottom: 2px solid #aaaaaa;

                    &:first-child{
                        border-bottom: 3px solid $primary-color;
                        border-bottom-right-radius: 1px;
                        border-bottom-left-radius: 1px;
                    }
                }
            }
        }

        #form-basic-page{
            display: flex;
            flex-direction: column;
            row-gap: 35px;

            .user-info-container{
                display: flex;
                flex-wrap: wrap;
                position: relative;

                label, input{
                    flex: 1 1 100%;
                }

                label{
                    font-size: 1.4rem;
                    line-height: 16px;
                    color: #767676;
                    margin-bottom: 4px;
                }

                input{
                    padding: 11px 12px;
                    border: 2px solid #aaaaaa;
                    border-radius: 4px;
                    font-size: 1.6rem;
                    line-height: 18px;

                    &::placeholder{
                        color: #767676;
                        width: 90%;
                    }
                }

                .name-container, .nickname-container{
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 100%;
                    margin-bottom: 35px;
                }

                .horizontal-inputs{
                    display: flex;
                    flex: 1;
                    column-gap: 24px;

                    .email-container{
                        display: flex;
                        flex-direction: column;
                        flex: 1 1 75%;
                    }

                    .phone-container{
                        display: flex;
                        flex-direction: column;
                        flex: 1 2 75%;
                    }
                }

                // ------------informações de erro--------------

                .input-error{
                    border-color: #ff0221;
                    
                    &:focus{
                        outline: #ff0221;
                    }
                }

                i{
                    visibility: hidden;
                    position: relative;
                    left: 500px;
                    bottom: 32px;   
                }

                .icon-error{
                    visibility: visible;
                }

                .exception-email{
                    left: 268px;
                }

                .exception-phone{
                    left: 180px;
                }

                span{
                    visibility: hidden;
                    font-size: 1.4rem;
                    position: relative;
                    margin-top: -23px;
                }

                .message-error{
                    visibility: visible;
                    color: #ff0221;
                }


            }

            .user-birthday-container{
                display: flex;
                flex-direction: column;
                
                h3{
                    font-size: 1.8rem;
                    color: #767676;
                    margin-bottom: 14px;
                }

                .date-birthday{
                    display: flex;
                    flex: 1 1 100%;
                    margin-bottom: 45px;
                }

                .terms-container{
                    margin-bottom: 52px;
                    input{

                    }
                }

                .next-container{
                    display: flex;
                    flex: 1 1 100%;
                    justify-content: end;
                }

            }
        }
    }
}

