html {
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

h2, p, nav, ul, li, label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

.page {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px;
}

.page .content {
  max-width: 620px;
  height: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 35px;
  padding: 45px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
}

.page .content header {
  width: 100%;
}

.page .content header .title {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 33px;
}

.page .content header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: unset;
}

.page .content header ul li {
  font-size: 1.6rem;
  line-height: 18px;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  color: #074ee8;
  border-bottom: 2px solid #aaaaaa;
}

.page .content header ul li:first-child {
  border-bottom: 3px solid #074ee8;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.page .content #form-basic-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}

.page .content #form-basic-page .user-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.page .content #form-basic-page .user-info-container label, .page .content #form-basic-page .user-info-container input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.page .content #form-basic-page .user-info-container label {
  font-size: 1.4rem;
  line-height: 16px;
  color: #767676;
  margin-bottom: 4px;
}

.page .content #form-basic-page .user-info-container input {
  padding: 11px 12px;
  border: 2px solid #aaaaaa;
  border-radius: 4px;
  font-size: 1.6rem;
  line-height: 18px;
}

.page .content #form-basic-page .user-info-container input::-webkit-input-placeholder {
  color: #767676;
  width: 90%;
}

.page .content #form-basic-page .user-info-container input:-ms-input-placeholder {
  color: #767676;
  width: 90%;
}

.page .content #form-basic-page .user-info-container input::-ms-input-placeholder {
  color: #767676;
  width: 90%;
}

.page .content #form-basic-page .user-info-container input::placeholder {
  color: #767676;
  width: 90%;
}

.page .content #form-basic-page .user-info-container .name-container, .page .content #form-basic-page .user-info-container .nickname-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-bottom: 35px;
}

.page .content #form-basic-page .user-info-container .horizontal-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.page .content #form-basic-page .user-info-container .horizontal-inputs .email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.page .content #form-basic-page .user-info-container .horizontal-inputs .phone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 75%;
          flex: 1 2 75%;
}

.page .content #form-basic-page .user-info-container .input-error {
  border-color: #ff0221;
}

.page .content #form-basic-page .user-info-container .input-error:focus {
  outline: #ff0221;
}

.page .content #form-basic-page .user-info-container i {
  visibility: hidden;
  position: relative;
  left: 500px;
  bottom: 32px;
}

.page .content #form-basic-page .user-info-container .icon-error {
  visibility: visible;
}

.page .content #form-basic-page .user-info-container .exception-email {
  left: 268px;
}

.page .content #form-basic-page .user-info-container .exception-phone {
  left: 180px;
}

.page .content #form-basic-page .user-info-container span {
  visibility: hidden;
  font-size: 1.4rem;
  position: relative;
  margin-top: -23px;
}

.page .content #form-basic-page .user-info-container .message-error {
  visibility: visible;
  color: #ff0221;
}

.page .content #form-basic-page .user-birthday-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .content #form-basic-page .user-birthday-container h3 {
  font-size: 1.8rem;
  color: #767676;
  margin-bottom: 14px;
}

.page .content #form-basic-page .user-birthday-container .date-birthday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-bottom: 45px;
}

.page .content #form-basic-page .user-birthday-container .terms-container {
  margin-bottom: 52px;
}

.page .content #form-basic-page .user-birthday-container .next-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

h2, p, nav, ul, li, label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

h2, p, nav, ul, li, label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */