html {
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

h2, p, nav, ul, li, label, #age-result {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

#results-page {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px;
}

#results-page .content {
  min-width: 320px;
  width: 520px;
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  padding: 45px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
}

#results-page .content .title {
  font-family: "Inter", sans-serif;
  border-bottom: 3px solid #074ee8;
  padding-bottom: 10px;
}

#results-page .content .results-container-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

#results-page .content .results-container-basic .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2px;
}

#results-page .content .results-container-basic .results .subtitle {
  margin-top: 4px;
  margin-bottom: 2px;
}

#results-page .content .results-container-basic .results .text-results {
  margin-bottom: 4px;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #074ee8;
  border-radius: 5px;
  background-color: #eaf3ff;
}

#results-page .content .results-container-basic .buttons-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 57px;
}

#results-page .content .results-container-basic .buttons-basic #results-next-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  font-size: 1.6rem;
  background-color: #074ee8;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  line-height: 18px;
  width: 81px;
  height: 40px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#results-page .content .results-container-basic .buttons-basic #results-next-button:hover {
  background-color: #053db7;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#results-page .content .results-container-basic .buttons-basic #results-next-button i {
  margin-top: 3px;
  margin-right: 5px;
}

#results-page .content .results-container-certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

#results-page .content .results-container-certificates .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2px;
}

#results-page .content .results-container-certificates .results .subtitle {
  margin-top: 4px;
  margin-bottom: 2px;
}

#results-page .content .results-container-certificates .results .text-results {
  margin-bottom: 4px;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #074ee8;
  border-radius: 5px;
  background-color: #eaf3ff;
}

#results-page .content .results-container-certificates .buttons-certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 57px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#results-page .content .results-container-certificates .buttons-certificate #results-back-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  font-size: 1.6rem;
  background-color: #074ee8;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  line-height: 18px;
  width: 75px;
  height: 40px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#results-page .content .results-container-certificates .buttons-certificate #results-back-button:hover {
  background-color: #053db7;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#results-page .content .results-container-certificates .buttons-certificate #results-back-button i {
  margin-top: 3px;
  margin-right: 5px;
}

#results-page .content .results-container-certificates .buttons-certificate #results-new-user-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  font-size: 1.6rem;
  background-color: #ffffff;
  border: 1px solid #074ee8;
  border-radius: 4px;
  color: #074ee8;
  line-height: 18px;
  width: 120px;
  height: 40px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#results-page .content .results-container-certificates .buttons-certificate #results-new-user-button:hover {
  background-color: #074ee8;
  color: #ffffff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#results-page .content .results-container-certificates .buttons-certificate #results-new-user-button i {
  margin-top: 3px;
  margin-right: 5px;
}
/*# sourceMappingURL=results.css.map */